.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid darkslategray;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.europe {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    max-height: 350px;
    background: #ebebeb;
    margin: 20px;
    padding: 20px;
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
}

.flag {
    
    max-height: 150px;
}