
/* Global 
---------------------------------------------------------------------------------------------------------------------------*/
p {
    font-size: 1em;
}


.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid darkslategray;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.error {
    border: 2px solid #810000;
    padding: 1rem;
    color: #810000;
    background: #8f28284d;
    font-size: 1.2em;
}

/* Index
---------------------------------------------------------------------------------------------------------------------------*/

.continent-container,
header {
    max-width: 1500px;
    margin: auto;
}

.europe {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    max-height: 350px;
    background: #ebebeb;
    margin: 20px;
    padding: 20px;
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
}

.flag {
    max-height: 150px;
}

/* Details 
---------------------------------------------------------------------------------------------------------------------------*/

.country-container {
    max-width: 1500px;
    margin: auto;
}

.country {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 100px; */
    background: #ebebeb;
    padding: 50px 150px;
    justify-items: center;
    
}

.country p {
    font-size: 1.5em;
}

.details_imgs {
    display: flex;
    flex-direction: column;  
}

.details_imgs p {
    display: flex;
    flex-direction: column; 
    font-weight: bold;
    /* align-self: flex-end; */

}

.details-flag {
    max-height: 300px;
    min-height: 150px;
    max-width: 250px;
}

.details_info {
}

.details_info p{
    margin-bottom: 60px;
}

.bold {
    font-weight: bold;
}


